*{margin: 0%; padding: 0%;box-sizing: border-box;}
img{max-width: 100%;}

.banner-color {background-color: #fceef1;
    overflow:hidden;
}

.banner{max-width: 1400px; margin: auto;}

.left-text {
    width: 700px;
    float: left;
    padding-top: 250px;
}
.left-text h1 {
    width: 400px;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
}
.left-text p {
    width: 600px;
    font-size: 20px;
    line-height: 34px;
    color: #817575;
}
.primary-btn {
    padding: 15px 20px;
    margin-top: 20px;
    font-size: 20px;
    border: none;
    background-color: rgb(216, 86, 233);
    color: white;
    border-radius: 5px;
}
.right-img {
    width: 700px;
    float: right;
    
}.right-img img {
    margin-bottom: -5px;
}